*,*::after,*::before{
    box-sizing: border-box;
}
:root{
    --accent-color: #ff3300;
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --heading-color: #1b0760;
    --body-color: #918ca4;
    --body-color--darker:#5c5577;
    --border-color:#ccc
}

/* Typography */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;
    color: var(--body-color);
    font-size: 2.5rem;
    line-height: 1.5;
}
p{
    margin-top: 0;
}
h1,h2,h3{
    color: var(--heading-color);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}
/* Links */
a{
    text-decoration: none;
}

.link-arrow {
    color: var(--accent-color);
    font-size:2rem ;
    text-transform: uppercase;
    font-weight:bold;
}
.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin-left 1s;
}
.link-arrow:hover::after{
   margin-left: 10px;
}
@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
    
}

/* Badges */
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
  }
.badge--primary{
    background: var(--primary-color);
    color: #fff;
    
}
.badge--secondary{
    background: var(--secondary-color);
    color: #fff;
}
.badge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}
@media screen and (min-width:1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
    
}
/* Lists */
.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-heading);
}
.list--inline .list__item{
    display: inline;
    margin-right: 2rem;
}
.list--tick{
    list-style-image: url(../images/tick.svg);

}
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
@media screen and (min-width:1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
    
}
/* Icons */
.icon-container{
    background: #f3f9fa;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-container--accent{
    background: var(--accent-color);
}
.icon{
    height: 40px;
    width: 40px;
}
.icon--primary{
    fill: var(--primary-color);
}
.icon--secondary{
    fill: #fff;
   
}

.icon--larg{
    height: 75px;
    width: 75px;
}

/* BTN */
.btn{
    font-size: 1.8rem;
    border-radius: 40px;
    padding: 2rem 3rem;
    margin: 1rem 0;
   text-align: center;
    border: 0;
    font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;
   white-space: 0;
}
.btn .icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
.btn--long{
    padding: 2rem 6rem;
}
.btn--block{
    display: block;
    width: 100%;   
}
.btn--primary{
background: var(--heading-color);
color: #fff;

}
.btn--primary:hover{
    background: #3a8ffd;
}
.btn--outline{
    background: #fff;
 border: 2px solid var(--heading-color);
  color: var(--heading-color);
   
}
.btn--outline:hover{
    background: var(--heading-color);
    color: #fff;
    border:0;
}
.btn--secondary{
    background: var(--secondary-color);
    color: #fff;
}
.btn--secondary:hover{
    background: #00c8eb;
}
.btn--accent{
    background: var(--accent-color);
    color: #fff;
}
.btn--accent:hover{
    background: #fd4516
}

@media screen and (min-width:1024px) {
    .btn{
        font-size: 1.5rem;
    }
    
}
/* Input */
.input{
    border-radius: 40px;
    font-size: 2rem;
    border: 1px solid var(--border-color);
    padding: 1.5rem 3.5rem;
    outline: 0;
    color: var(--heading-color);
    

}
::placeholder{
color: #ccc;
}
@media screen and (min-width:1024px) {
    .input{
        font-size: 1.5rem;
    }
    
}
/* Input Group */
.input-group{
    border-radius: 30px;
    border:1px solid var(--border-color) ;
    display: flex;
   
    
}
.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: 1rem 1rem;
    width: 0;

}
.input-group .btn{
    margin :4px;
   
}
/* Card */
.card{
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    margin-top: 20px;
    overflow: hidden;
}
.card__header , .card__body {
    padding: 2rem 3rem;
}
.card--primary .card__header{
    background: var(--primary-color);
    color: #fff;
 
}
.card--secondary .card__header{
    background: var(--secondary-color);
    color: #fff;
}
.card--secondary .badge--secondary{
    background: #02cdf1;
}
/* Plan */

.plan__name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
   flex-grow: 2;
    
}
.plan__price{
    font-size: 6rem;

}
.plan__billing{
    font-size:2.4rem ;
    opacity: 0.8 ;
    font-weight: 300;
    margin-right: 1rem;
}
.plan__description{
    font-size: 2rem;
    font-weight: 300;
    display: block;
}
.plan .list__item{
    margin-bottom: 2rem;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    position: absolute;
    top:-6px;
    right: 5%;
}
.plan--popular .card__header{
    position: relative;
}
@media screen and (min-width:"1024px"){
   .plan__name{
    font-size: 1.4rem;
   } 
   .plan__price{
    font-size: 5rem;
   }
   .plan__billing{
    font-size: 1.7rem;
   }
}
/* Media */
.media{
    display: flex;
    
}
.media__title{
    margin-top: 0 ;
    color: #fff;
   
}
.media__body{
    margin : 0 2rem ;
}
.media__image{
    margin-top: 1rem;
}
.media__title.quote__author{
    color: var(--heading-color);
}
/* Quote */
.quote{
    font-size: 3rem;
    font-style: italic;
    color: var(--body-color--darker);
    line-height: 1.3;
}
.quote__text::after{
    content: close-quote;
  
}
.quote__text::before{
     content: open-quote;
}
.quote__author{
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}
.quote__organization {
    font-size: 2rem;
    color: var(--border-color);
    font-style: normal;
}
.quote__line{
    margin: 0;
}
@media screen and (min-width:1024px) {
    .quote{
        font-size: 2rem;
    }
    .quote__author{
         font-size: 2.4rem;
    }
    .quote__organization{
        font-size: 1.6rem;
    }

}
/*Grid*/
.grid{
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--1×2{
        grid-template-columns: repeat(2 , 1fr);
    }
    
}
@media screen and (min-width:1024px) {
    .grid--1×3{
        grid-template-columns: repeat(3 , 1fr);
    }
    
}
/*Testimonial*/
  
.testimonial{
    padding: 3rem;
    
}
.testimonial__image-container .testimonial__image{
    width: 100%;
}
.testimonial__icon{
    position: absolute;
    right: -32px;
    top: 3rem;
}
.testimonial__image-container{
    position: relative;
}

/* CallOut*/
.callout--primary{
    background: var(--primary-color);
    color: #fff;
   
}
.callout__btn{
    display: grid;
}
.callout .btn{
   
    align-self: center;
    justify-self: center;
}
.callout{
    padding: 4rem;
    border-radius: 5px;
    position: relative;
    top:4rem;
}
.callout__content h2{
    color: #fff;
    margin-top: 0;
}
.callout__content{
    text-align: center;
}
@media screen and (min-width:768px) {
    .callout__content{
        text-align: left;
    
    }
    .callout .grid--1×2{
        grid-template-columns: 1fr auto;
    }   
}

     /* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
  }
  
  .collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  
  .collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
  
  .collapsible__content {
    max-height: 0 !important;
    overflow: hidden;
    opacity: 0 !important;
    transition: all 0.3s;
  }
  
  .collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
  }
  
  .collapsible--expanded .collapsible__content {
    max-height: 100vh !important;
    opacity: 1 !important;
  }
  

 /* Block */   
 .block{
    --pading-vertical:6rem;
    padding: var(--pading-vertical) 2rem;

 } 
 .block__heading{
    margin-top: 0;
 }
 .block--dark{
     background: #000;
     color: #7b858b ;
  
    
 }
 .block--dark .block__heading {
    color: #fff;
  }
  
 .block--skewed-right{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    padding-bottom: calc(var(--pading-vertical) + 5rem);
 }
 .block--skewed-left{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: calc(var(--pading-vertical) + 5rem);
 }
 .block__header{
    text-align: center !important;
 }
 .container{
    max-width: 1140px;
    margin: 0 auto;
 }
 .container-1{
    max-width: 900px;
    margin: 0 auto;
 }

 /* Navigation Bar*/
 .nav{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background: #000;
   padding: 0 1rem;
   align-items: center;

 }
 .nav__list{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
   }
.nav__list a{
    color: #d2d0db ;
    transition: color 0.3s;
   
}
.nav__item{
    border-bottom: 1px solid #222;
   padding: 1rem 2rem;
}
.nav__item a:hover{
    color: #fff;
}

.nav--toggler{
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer;
}
.collapsible__expanded .nav--toggler{
     opacity: 1;
     box-shadow: 0 0 2px 3px #666;
     border-radius: 5px;
     
     
}
@media screen and (min-width: 768px) {
    .nav--toggler{
      display: none;
    }
  
    .nav__list {
      width: auto !important;
      display: flex;
      font-size: 1.6rem;
      max-height: 100% !important;
      opacity: 1 !important;
    }
  
    .nav__item {
      border: 0;
    }
  }
  /*Hero*/
  
  .hero__content .block__heading{
    color:#fff;
  }
.hero__tagline{
    margin: 2rem 0 5rem;
    font-size: 2rem;
}
.hero__image{
    width: 100%;
}
@media screen and (min-width:768px) {
    .block__header{
        text-align: left;
        align-self: center;
    }
    .hero{
        padding-top: 0;
    }
    
}
/* Block Domain*/
.block-domain .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px;
  }
  
  .block-domain__price {
    color: var(--heading-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem !important ;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
  }
  .block-domain__price .badge{
    font-size: 2rem;
  }
  @media screen and (min-width:768px) {
    .block-domain .block__header{
        text-align: center !important;
    }
    .block-domain__price{
        display: flex;
        justify-content: space-around;
    }
    
  }

  /* Plans Block*/
  .block-plans .grid{
    gap:8rem 5rem;
  }
  .plan--popular{
    transform: scale(1.1);
    transition: all 0.6s;
  }
  .plan{
    transition: all 0.6s;
  }
  .plan:hover{
    transform: scale(1.1);
  }
  .plan--popular:hover{
    transform: scale(1.2);
  }
/* Features */
.feature .media__body {
margin: 0;
  }
  .feature{
    margin-top: 12rem;
    gap: 4rem 2rem;
  }
  @media screen and (min-width: 768px) {
    .feature:nth-of-type(even) .feature__content {
      order: 2;
    }
  }
  
/* testimonial block*/
  @media screen and (min-width: 768px) {
    .block-showcase .grid {
      grid-template-columns: 50% 50%;
    }
  
    .block-showcase__image {
      justify-self: end;
    }
  
    .block-showcase__image > img {
      width: auto;
      max-width: 700px;
    }
    .block-showcase{
        padding-bottom: 15rem !important;
    }
  }
.block-showcase{
    padding-bottom: 250px;
}


  /* Footer */
.footer {
    background: #232323;
  
  }
  
  .footer a {
    color: #777;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #fff;
  }
  
  .footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
  }
  
  .footer__section .list {
    margin: 0;
  }
  
  .footer__heading {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
  }
  
  .footer__brand {
    margin-top: 5rem;
    text-align: center;
  }
  
  .footer__brand img {
    width: 100%;
    max-width: 230px;
  }
  
  .footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      font-size: 1.5rem;
      height: 400px;
    }
    .footer__sections {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      margin-top: 5rem;
    }
  
    .footer .collapsible__chevron {
        opacity: 0 !important;
      max-height: 0 !important;
    }
  
    .footer .collapsible__content {
      opacity: 1 !important;
      max-height: 100% !important;
    }
  
    .footer__brand {
      order: -1;
      margin-top: 1rem;
    }
  
    .footer__copyright {
      font-size: 1.5rem;
    }
  
    .footer__section {
      border: 0;
    }
  
    .footer__heading {
      font-size: 1.6rem;
    
    }
  }
  