<div class="collapsible ">
    <div class="collapsible__header">
      <h2 class="collapsible__headeing">Item 1</h2>
     

        
        </svg><svg class="icon icon--secondary collapsible__shevron">
          <use xlink:href="../images/sprite.svg#chevron"></use>
        </svg>
       
     
    </div>
      <div class="collapsible__content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque assumenda maxime ut iure rem dicta sequi ullam, delectus magnam!</p>
       
      </div>

  
  </div>
  <div class="collapsible ">
    <div class="collapsible__header">
      <h2 class="collapsible__headeing">Item 1</h2>
     

        
        </svg><svg class="icon icon--secondary collapsible__shevron">
          <use xlink:href="../images/sprite.svg#chevron"></use>
        </svg>
       
     
    </div>
      <div class="collapsible__content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque assumenda maxime ut iure rem dicta sequi ullam, delectus magnam!</p>
       
      </div>

  
  </div>
<script src="js/main.js"></script>