<nav class="nav collapsible ">
    <a href="/"><img  src="images/logo.svg" alt=""></a>
  </svg><svg class="icon icon--secondary nav--toggler collapsible__expanded ">
    <use xlink:href="../images/sprite.svg#menu"></use>
  </svg>
   <ul class="list nav__list collapsible__content" >
        <li class="nav__item"> <a href="#">Hosting</a></li>
        <li class="nav__item"> <a href="#">Hosting</a></li>
        <li class="nav__item"> <a href="#">Hosting</a></li>
        <li class="nav__item"> <a href="#">Hosting</a></li>
    </ul>

  </nav>
  <script src="js/main.js"></script>