<div class="plan">
  <div class="card card--secondary">
    <div class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan__billing">/month</span>
      <span class="badge badge--secondary badge--small">20% off</span>
      <span class="plan__description">Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">item 1</li>
        <li class="list__item">item 2</li>
        <li class="list__item">item 3</li>
      </ul>
      <button class="btn btn--block btn--outline">get started</button>
    </div>
  </div>
</div>

/* plan--popular */
<div class="plan plan--popular">
  <div class="card card--secondary">
    <div class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan__billing">/month</span>
      <span class="badge badge--secondary badge--small">20% off</span>
      <span class="plan__description">Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">item 1</li>
        <li class="list__item">item 2</li>
        <li class="list__item">item 3</li>
      </ul>
      <button class="btn btn--block btn--outline">get started</button>
    </div>
  </div>
</div>
