<section class="block block--dark block--skewed-right block-showcase ">
    <div class="container grid grid--1×2">

      <picture class="block-showcase__image">
        <source type="image/webp" srcset="images/ipad.webp 1x , images/ipad@2x.webp 2x"></source>
        <source type="image/png" srcset="images/ipad.png 1x , images/ipad@2x.png 2x"></source>
        
      <img class="hero__image" src="images/ipad.png" alt="" />
      </picture>
      <div>
        <div class="media">
          <div class="media__image">
          </svg><svg class="icon icon--primary">
            <use xlink:href="../images/sprite.svg#snap"></use>
          </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem numquam alias omnis. Cupiditate velit quaerat ducimus tempora tempore dolor dicta.</p>
          </div>
      </div>

      <div class="media">
        <div class="media__image">
        </svg><svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#snap"></use>
        </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem numquam alias omnis. Cupiditate velit quaerat ducimus tempora tempore dolor dicta.</p>
        </div>
    </div>

    <div class="media">
      <div class="media__image">
      </svg><svg class="icon icon--primary">
        <use xlink:href="../images/sprite.svg#snap"></use>
      </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem numquam alias omnis. Cupiditate velit quaerat ducimus tempora tempore dolor dicta.</p>
      </div>
  </div>
    

        
      </div>
    </div>

  </section>
