<div class="card testimonial">
    <div class="grid grid--1×2">
      <div class="testimonial__image-container">


        <span class="icon-container icon-container--accent testimonial__icon icon--larg">
        </svg><svg class="icon icon--secondary ">
          <use xlink:href="../images/sprite.svg#quotes"></use>
        </svg>
        
        </span>


        <img src="images/testimonial.jpg" alt="" class="testimonial__image" />
      </div>

      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum tempore
          amet temporibus nihil vel magnam, minima voluptas voluptatem veritatis
          dolores!
        </p>
        <footer>
          <div class="media">
            <div class="media__image quote__line">
            </svg><svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#line"></use>
            </svg>
            </div>
            <div class="media__body ">
              <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__organization" >Lorem ipsum dolor sit </p>
            </div>
          </div>
        </footer>
      </blockquote>

    </div>
  </div>